<!DOCTYPE html>
<html>
  <head>
    <title>Date</title>
  </head>

  <body>
    <h1>Today</h1>
    <p>The date is <%= Time.now.strftime('%A') %>, <%= Time.now.strftime('%B') %> <%= Time.now.strftime("%d") %>, <%= Time.now.strftime("%Y") %></p>
  </body>
</html>
